<%- include('partials/header') %>

<main>
    <h1>Add New Category</h1>
    <form action="/new-category" method="POST">
        <label for="categoryName">Category Name</label>
        <input type="text" id="categoryName" name="categoryName" required maxlength="100">
        <button type="submit">Add Category</button>

        <section class="buttons">
            <button type="button">
                <a href="/categories">Cancel</a>
            </button>
        </section>
    </form>
</main>

<%- include('partials/footer') %>